@CHARSET "US-ASCII";

blockquote:before, blockquote:after, q:before, q:after {
content:"";
}

blockquote, q {
quotes:"" "";
}

a{
cursor: pointer;
text-decoration:none;
}

br.both{
clear:both;
}

#popup_background{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:1;
}

body{
background:#fff none repeat scroll 0%;
line-height:1;
font-size: 12px;
font-family:arial,sans-serif;
margin:0pt;
height:100%; // VERY IMPORTANT: if removed not the whole page height will be dark
}

#popup_foreground{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
background:#FFFFFF;
border:2px solid #cecece;
z-index:2;
padding:12px;
font-size:13px;
overflow: auto;
}

#popup_foreground h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}

#popup_windowtitle{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
}

#popup_close{
top:4px;
cursor: hand; cursor: pointer;
right:4px;
text-align:right;
display:block;
}

#popup_body{
position:relative;
top:10px;
left:0px;

display:none;
background:#FFFFFF;
z-index:1;
font-size:13px;
}

#popup_title{
cursor:move;
height:30px;
font-size:14px;
background:gray;
height:20px;
left:0px;
top:0px;
padding:0px;
margin:0px;
width:100%;
}
