<table>
	<tr><td>Total Downloaded Size: </td><td id=plugin_stats_totaldownloadedbytes></td><td>Download rate: </td><td id=plugin_stats_totaldownloadrate></td></tr>
	<tr><td>Total Uploaded Size: </td><td id=plugin_stats_totaluploadedbytes></td><td>Upload rate: </td><td id=plugin_stats_totaluploadrate></td></tr>
	<tr><td>Total Transfer Count: </td><td id=plugin_stats_totaltransfercount></td></tr>
</table>
