<table id="plugin_stats_table">
	<tr>
		<td>Total Downloaded Size: </td><td id="plugin_stats_totaldownloadedbytes"><tmpl_var name="plugin_stats_totaldownloadedbytes"></td>
		<td>Total Download Rate: </td><td id="plugin_stats_totaldownloadrate"><tmpl_var name="plugin_stats_totaldownloadrate"></td>
	</tr>
	<tr>
		<td>Total Uploaded Size: </td><td id="plugin_stats_totaluploadedbytes"><tmpl_var name="plugin_stats_totaluploadedbytes"></td>
		<td>Total Upload Rate: </td><td id="plugin_stats_totaluploadrate"><tmpl_var name="plugin_stats_totaluploadrate"></td>
	</tr>
	<tr>
		<td>Total Transfers Count: </td><td id="plugin_stats_totaltransfercount"><tmpl_var name="plugin_stats_totaltransfercount"></td>
		<td></td><td></td>
	</tr>
</table>
