<tmpl_include name="inc.LayoutHeader.tmpl">

<table id="indexStatsBarWarning">
	<tr>
		<td>
			<div style="height:20px; font-size:16px; color: black;" ><div id="status_message"/></div>
		</td>
	</tr>
</table>

<!-- Meta Page Refresh -->
<!-- This table CANNOT be moved to the content it's showing inc.indexRefreshOptions.tmpl because Opera 9 breaks layout -->

<img src=images/add.png onclick="javascript:loadpopup('Transfer Sources', 'index.php?page=transfersources', 'Loading...'); centerPopup(); loadPopup();">
<img src=images/refresh.png onclick="javascript:ajax_update();">
<div id="generalplugins"><tmpl_var name="generalplugins"></div>
<div style="height:5px;"></div>

<div id="plugin_container"><tmpl_var name="plugin_container_content"></div>

<tmpl_include name="inc.transferList.tmpl"><tmpl_include name="inc.transferListBulkActions.tmpl">

<table id="indexRefreshOptions">
	<tmpl_include name="inc.indexRefreshOptions.tmpl">
</table>

<table id="indexStatsGoodLooking">
	<tmpl_if name="enable_goodlookstats">
	<tr>
		<td>
			<tmpl_include name="inc.indexStatsGoodLooking.tmpl">
		</td>
	</tr>
	</tmpl_if>
</table>

<tmpl_include name="inc.LayoutFooter.tmpl">
