<tmpl_var name="transferlist_xmlopen">xml version='1.0' encoding='utf-8'?>
<transferslisting>
	<page><tmpl_var name="transferlist_page"></page>
	<total><tmpl_var name="transferlist_total_pages"></total>
	<records><tmpl_var name="transferlist_count"></records>
	<transfers>
		<tmpl_loop name="transferlist_torrents">
		<transfer id='<tmpl_var name="url_entry">'>
			<details><![CDATA[ <tmpl_var name="details_action"> ]]></details>
			<path><![CDATA[ <tmpl_var name="url_path"> ]]></path>
			<name><![CDATA[ <tmpl_var name="displayname"> ]]></name>
			<uprate><tmpl_var name="up_speed"></uprate>
			<downrate><tmpl_var name="down_speed"></downrate>
			<owner> <tmpl_if name="is_owner"> <![CDATA[ images/checked.png ]]>
				<tmpl_else> <![CDATA[ images/edit.png ]]></tmpl_if>
			</owner>
			<percentage><tmpl_var name="percentage"></percentage>
			<status><![CDATA[ <tmpl_var name="statusStr"> ]]></status>
			<size><tmpl_var name="format_af_size"></size>
			<eta><![CDATA[ <tmpl_var name="esttime"> ]]></eta>
			<actions>
				<tmpl_loop name="transfer_actions">
				<action>
					<script><![CDATA[<tmpl_var name="action_name">]]></script>
					<script><![CDATA[<tmpl_var name="image">]]></script>
					<image><![CDATA[<tmpl_var name="script">]]></image>
				</action>
				</tmpl_loop>
			</actions>
		</transfer>
		</tmpl_loop>
	</transfers>
</transferslisting>
