<script type="text/javascript" src="js/diskspace.js"></script>
<script type="text/javascript">drawProgressBar( "#FFFFFF", 300, 100, 0, 0);</script>
<link rel="stylesheet" type="text/css" href="css/diskspace.css" />
